{% extends 'base.html' %}

{% block content %}
<main class="main" role="main">
    <article class="article archives-about article-type-normal" itemscope>
        <header class="article-header"><h1 itemprop="title">关于</h1>
            <p class="text-muted">想研究数据的小白</p></header>
        <div class="article-body">
            <figure class="highlight javascript">
                <table>
                    <tr>
                        <td class="code">
                            <pre><span class="line">&#123;</span><br><span class="line">  name: <span class="string">'Leviss'</span></span><br><span
                                    class="line">  age: <span class="number">24</span>,</span><br><span class="line">  gender: <span
                                    class="string">'男'</span>,</span><br><span class="line">  profession: <span
                                    class="string">'Web Developer &amp; Designer'</span>,</span><br><span class="line">  experience: <span
                                    class="string">'1年'</span>,</span><br><span class="line">  address: <span
                                    class="string">'四川成都'</span>,</span><br><span class="line">  education: <span
                                    class="string">'本科'</span>,</span><br><span class="line">  github: <span
                                    class="string">'https://github.com/cofess'</span>,</span><br><span class="line">  blog: <span
                                    class="string">'http://blog.cofess.com'</span>,</span><br><span class="line">  email: <span
                                    class="string">'cofess@foxmail.com'</span>,</span><br><span class="line">  description: <span
                                    class="string">'致力于网站建设与前端用户体验设计'</span>,</span><br><span
                                    class="line"></span><br><span class="line">  skills: [</span><br><span class="line">    [<span
                                    class="string">'Html'</span>, <span class="string">'Javascript'</span>, <span
                                    class="string">'jQuery'</span>, <span class="string">'CSS'</span>, <span
                                    class="string">'ES6'</span>, <span class="string">'Node'</span>],</span><br><span
                                    class="line">    [<span class="string">'Webpack'</span>, <span
                                    class="string">'Gulp'</span>],</span><br><span class="line">    [<span
                                    class="string">'Less'</span>,<span class="string">'Sass'</span>],</span><br><span
                                    class="line">    [<span class="string">'Git'</span>, <span
                                    class="string">'SVN'</span>],</span><br><span class="line">    [<span
                                    class="string">'Vue'</span>],</span><br><span class="line">    [<span
                                    class="string">'Bootstrap'</span>, <span class="string">'SUI Mobile'</span>, <span
                                    class="string">'light7'</span>],</span><br><span class="line">    [<span
                                    class="string">'WordPress'</span>, <span
                                    class="string">'OpenCart'</span>],</span><br><span class="line">    [<span
                                    class="string">'平面设计'</span>]</span><br><span class="line">  ],</span><br><span
                                    class="line"></span><br><span class="line">  devTools: [</span><br><span
                                    class="line">    [<span class="string">'Sublime Text'</span>, <span class="string">'Visual Studio Code'</span>, <span
                                    class="string">'Notepad++'</span>],</span><br><span class="line">    [<span
                                    class="string">'Chrome DevTools'</span>, <span
                                    class="string">'Fiddler'</span>],</span><br><span class="line">    [<span
                                    class="string">'SourceTree'</span>, <span
                                    class="string">'TortoiseSVN'</span>],</span><br><span class="line">    [<span
                                    class="string">'SwitchHosts'</span>],</span><br><span class="line">    [<span
                                    class="string">'Navicat'</span>, <span
                                    class="string">'XAMPP'</span>],</span><br><span class="line">  ]  </span><br><span
                                    class="line">&#125;</span><br></pre>
                        </td>
                    </tr>
                </table>
            </figure>
        </div>
    </article>
</main>
{% endblock %}