{% extends 'base.html' %}

{% block content %}
<main class="main" role="main">
    <div class="content">
        {{ article.content |safe }}
        <section id="comments"></section>
    </div>
    <nav class="bar bar-footer clearfix" data-stick-bottom>
        <div class="bar-inner">
            <ul class="pager pull-left">
                <li class="prev"><a href="{{ pre_article.url }}"
                                    title="{{ pre_article.title }}"><i class="icon icon-angle-left"
                                                                          aria-hidden="true"></i><span>&nbsp;&nbsp;上一篇</span></a>
                </li>
                <li class="next"><a
                        href="{{ next_article.url }}"
                        title="{{ article.next_article.title }}"><span>下一篇&nbsp;&nbsp;</span><i
                        class="icon icon-angle-right" aria-hidden="true"></i></a></li>
                <li class="toggle-toc"><a class="toggle-btn collapsed" data-toggle="collapse" href="#collapseToc"
                                          aria-expanded="false" title="文章目录" role="button"><span>[&nbsp;</span><span>文章目录</span>
                    <i class="text-collapsed icon icon-anchor"></i> <i class="text-in icon icon-close"></i>
                    <span>]</span></a></li>
            </ul>
            <div class="bar-right">
                <div class="share-component" data-sites="weibo,qq,wechat,facebook,twitter"
                     data-mobile-sites="weibo,qq,qzone"></div>
            </div>
        </div>
    </nav>
</main>
<script src="/static/js/md5.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    var gitalk = new Gitalk({
      clientID: '93415d61ffb23568f1ad',
      clientSecret: '4ff684e3ee31d293dfb5a7d2e587dade5530916d',
      repo: 'myblog_comment',
      owner: 'linkpassion',
      admin: ['linkpassion'],
      id: md5(location.href),      // Ensure uniqueness and length less than 50
      distractionFreeMode: false  // Facebook-like distraction free mode
    })

    gitalk.render('comments')
</script>
{% endblock %}